.app-container {
  height: 100vh;
  text-align: center;
  position: relative;
}

.inputLabel {
  display: inline-block;
  position: absolute;
  font-size: 12px;
  transform: translate(-50%);
  top: 50%;
}

.textbox {
  text-align: center;
  width: 35px;
  height: 25px;
  display: inline-block;
  position: absolute;
  transform: translate(-50%);
  top: 43%;
  border-radius: 3px;
  outline: 0;
  border: 1px solid black;
  padding: 3px;
}

.unit {
  font-size: 12px;
  display: inline-block;
  position: absolute;
  transform: translate(-50%);
  margin-top: 3px;
  top: 43%;
  left: 54%;
}

.btn {
  display: block;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid black;
  outline: 0;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px;
  color: black;
}

.btn:hover {
  background-color: white;
}
